.akshome {
    display: flex;
    flex-direction: row;
}

.akshome_framework_image {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 50%;
    overflow: hidden;
}

.akshome_image {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.akshome_menu {
    display: flex;
    justify-content: center;
    width: 50%;
}

.akshome_menu_dojo {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 500px;
    position: fixed;
}