@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans&display=swap');

.akshome_framework {
    overflow: hidden;
}

.akshome_welcome-text {
    font-family: "Audiowide";
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.akshome_framewor-karate-icon {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    margin-top: 35vh;
    margin-left: -60px;
    width: 500px;
    background: linear-gradient(0.10turn, #3FFF00,#0575B5);
}