.akshome {
    display: flex;
    flex-direction: row;
}

.akshome_framework_image {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 50%;
    overflow: hidden;
}

.akshome_image {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.akshome_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
}

.akshome_menu_dojo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}

.akshome_question_dojo {
    font-weight: 700;
    font-size: 30px;
}

.akshome_buttons_dojo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: 50%;
    width: 100%;
}